    <div class="footer text-white text-center py-lg-5">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <div class="icons d-flex justify-content-evenly">
                    <i class="fa-brands fa-facebook border border-1 border-light p-2 rounded-circle"></i>
                    <i class="fa-brands fa-linkedin border border-1 border-light p-2 rounded-circle"></i>
                    <i class="fa-brands fa-twitter border border-1 border-light p-2 rounded-circle"></i>
                    <i class="fa-solid fa-globe border border-1 border-light p-2 rounded-circle"></i>                
                </div>

            </div>
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div></div>
        </div>
    </div>
    <div class="py-3 bg-dark text-white">
        <p class="text-center">Copyright © Your Website 2021</p>
    </div>
