<div class="contact my-2">
    <div class="container text-center">
        <div class="w-75 m-auto">
    <h2>conatct section</h2>
    <div class="bar w-25 d-flex justify-content-center mb-4 mx-auto">
        <div class="line align-self-center"></div>
        <i class="fa fa-star text-black px-2 "></i>
        <div class="line align-self-center"></div>
    </div>
    <form action="">
        <input class="shadow-sm rounded"  type="text" placeholder="userName">
        <input class="shadow-sm rounded"  type="text" placeholder="userAge">
        <input class="shadow-sm rounded"  type="text" placeholder="userEmail">
        <input class="shadow-sm rounded"  type="text" placeholder="userPassword">
        <button class="btn btn-success">send messege</button>
    </form>
</div>
</div>
</div>