<div class="home bg-info py-5">
    <div class="container text-white text-center">
        <div class="w-25 m-auto">
            <img src="../assets/images/a8eq1ubyl.png" alt="person" class="w-100">
        </div>
    <h2>start Framework</h2>
    <div class="bar w-25 d-flex justify-content-center mb-4 mx-auto">
        <div class="line align-self-center"></div>
        <i class="fa fa-star text-white px-2 "></i>
        <div class="line align-self-center"></div>
    </div>
    <p class="">Graphic Artist - Web Designer - Illustrator</p>

</div>
</div>